
/*　Warter.css */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
font-weight: 600;
}

blockquote {
border-left: 4px solid #0096bfab;
margin: 1.5em 0em;
padding: 0.5em 1em;
font-style: italic;
}

blockquote > footer {
margin-top: 10px;
font-style: normal;
}

blockquote cite {
font-style: normal;
}

address {
font-style: normal;
}

a[href^='mailto']::before {
content: '📧 ';
}

a[href^='tel']::before {
content: '📞 ';
}

a[href^='sms']::before {
content: '💬 ';
}

a {
text-decoration: none;
color: #0076d1;
}

a:hover {
text-decoration: underline;
}

code, kbd {
background: #efefef;
color: #000000;
padding: 5px;
border-radius: 6px;
}

pre > code {
padding: 10px;
display: block;
overflow-x: auto;
}

img {
max-width: 100%;
}

hr {
border: none;
border-top: 1px solid #dbdbdb;
}
